.main-nav {
  box-sizing: border-box;
  min-height: 56px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;

  background-color: $white-color;
}

.main-nav__item {
  display: inline-block;
  width: 20%;
  padding: 14px 0;

  font-size: 14px;
  line-height: 26px;
  vertical-align: top;
  text-align: center;


  &:first-child {
    margin-left: 6%;
  }

  &:last-child {
    margin-right: 6%;
  }
}

.main-nav__link {
  font-weight: bold;
  color: $black-color;
  text-decoration: none;

  &:hover {
    color: $blue-1-color;
  }

  &:active {
    color: #b2b2b2;
  }
}

.main-nav__link--active {
  color: #766357;

  &:hover {
    color: #604e43;
  }

  &:active {
    color: #e4e0dd;
  }
}

.main-nav__item--left {
  text-align: left;
}

.main-nav__item--right {
  text-align: right;
}

.main-nav__item--logo {
  position: relative;

  width: 8%;

  a {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;

    transform: translate(-50%, 0);
  }
}
