body {
  font-family: "PTSans", serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #000;
  text-transform: uppercase;
  /*background: #ededed;*/
  /*background: #000000 url("../img/sedona-index-1200.jpg") no-repeat 50% 0;!* tmp *!*/ }

.hide {
  display: none; }

.footer::after, .big-feature::after, .real-life::after, .feature-list::after, .search-form::after, .catalog-header::after, .catalog-item::after {
  display: table;
  clear: both;
  content: ""; }

.main-desc__header {
  margin: 0 0 35px;
  font-family: "PTSans", serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000; }

.feature__name,
.real-life__name {
  font-family: "PTSans", serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000; }

.main {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* tmp */ }

.main-navigation {
  height: 36px;
  padding: 20px 0 0;
  margin: 0;
  font-size: 0;
  background-color: white; }
  .main-navigation > li {
    display: inline-block;
    width: 20%;
    font-size: 14px;
    text-align: center; }
  .main-navigation > li:nth-child(1),
  .main-navigation > li:nth-child(2) {
    text-align: left; }
  .main-navigation > li:nth-child(4),
  .main-navigation > li:nth-child(5) {
    text-align: right; }
  .main-navigation > li:first-child {
    margin-left: 6%; }
  .main-navigation > li:last-child {
    margin-right: 6%; }
  .main-navigation > li:nth-child(3) {
    width: 8%; }

.top-panel__logo-box {
  height: 56px;
  margin-top: -56px;
  text-align: center; }

.footer {
  padding: 35px 0;
  background-color: white; }

.footer-column {
  float: left;
  width: 33.33%;
  text-align: center; }

.main-header {
  height: 510px;
  padding-top: 76px;
  margin: 0;
  background: white url("../img/index/big-header-background.jpg"); }

.main-header__welcome {
  display: block;
  margin: 0 auto 52px auto; }

.main-header__sedona {
  display: block;
  margin: 0 auto 56px auto; }

.main-header__grand-canyon {
  display: block;
  margin: 0 auto 0 auto; }

.main-header__bottom-pattern {
  width: 100%;
  margin-top: 101px; }

.main-desc {
  height: 110px;
  padding-top: 61px;
  padding-bottom: 50px;
  text-align: center;
  background-color: white; }

.big-feature {
  height: 256px;
  overflow: hidden;
  text-align: center; }
  .big-feature .feature {
    width: 34%;
    height: 100%;
    background-color: #81b3d2; }
  .big-feature .feature__name {
    color: white; }

.big-feature--real-life .feature {
  float: left; }

.big-feature--devil-bridge .feature {
  float: right; }

.big-feature__photo {
  position: relative;
  width: 66%;
  height: 100%; }
  .big-feature__photo img {
    position: absolute;
    top: 54%;
    left: 50%;
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -54%); }

.big-feature--real-life .big-feature__photo {
  float: right; }

.big-feature--devil-bridge .big-feature__photo {
  float: left; }

.feature-list .feature,
.real-life li {
  display: block;
  float: left;
  width: 33.33%;
  text-align: center; }

.real-life {
  padding-top: 60px;
  padding-bottom: 85px;
  margin: 0;
  background-color: white; }

.feature-list {
  padding-top: 45px;
  padding-bottom: 65px;
  margin: 0;
  background-color: #eeeeee; }

.form-intro {
  padding-top: 55px;
  text-align: center;
  background-color: white; }

.form-intro__header {
  display: block;
  margin-bottom: 35px; }

.form-intro__description {
  margin-bottom: 50px; }

.form-intro__link {
  display: block;
  width: 568px;
  height: 86px;
  margin: 0 auto;
  background-color: #766357; }

.bottom-section {
  background: white url("../img/static-map.jpg"); }
  .bottom-section form {
    width: 569px;
    height: 395px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* tmp */ }

.footer.footer--index {
  margin-top: 78px;
  background-color: rgba(255, 255, 255, 0.9); }

.search-form {
  min-height: 217px;
  padding: 25px 6% 30px 6%;
  background: gray url("../img/catalog/search-form__background.jpg");
  box-sizing: border-box; }

.search-form__infrastructure {
  float: left;
  width: 220px;
  margin-right: 6%; }

.search-form__housing-type {
  float: left;
  width: 30%; }

.search-form__price {
  float: right;
  width: 30%; }

.catalog-header {
  padding: 30px 6%; }

.catalog-header__count {
  float: left;
  margin-right: 40px; }

.catalog-header__sort-field {
  float: left; }
  .catalog-header__sort-field > ul {
    display: inline; }
    .catalog-header__sort-field > ul > li {
      display: inline; }

.catalog-header__sort-dir {
  float: right; }

.catalog-item {
  padding: 30px 6%;
  border-top: 1px solid #e5e5e5; }

.catalog-item:last-child {
  border-bottom: 1px solid #e5e5e5; }

.catalog-item__photo {
  float: left;
  margin-right: 42px; }

.catalog-item__description {
  float: left; }

.catalog-item__rate-block {
  float: right; }

.catalog-item__stars {
  text-align: right; }

/*# sourceMappingURL=style.css.map */
