.catalog-header {
  @extend %clearfix;

  padding: 30px 6%;

  &__count {
    float: left;
    margin-right: 48px;

    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
  }

  &__sort-field {
    float: left;
    margin-top: 4px;

    font-size: 12px;
    line-height: 18px;
  }
}

.sort-field {
  display: inline;
  padding-left: 36px;

  list-style: none;
  line-height: 18px;

  &__item {
    display: inline;
    margin-right: 30px;
  }

  &__link {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;

    border-bottom: 1px dotted $blue-1-color;

    &:hover {
      color: $blue-1-color;

      border-bottom: 1px dotted $blue-1-color;
    }

    &:active {
      color: $black-color;

      border-bottom: 0;
    }
  }
}

.sort-field__link--active {
  color: $blue-1-color;

  border-bottom: 0;
}

.catalog-header__sort-dir {
  float: right;
  margin-top: 5px;
}

.sort-dir__link {
  @extend %sprite;

  display: inline-block;
  margin-left: 7px;

  &.asc {
    @extend %sprite-icon-up;

    &:hover {
      @extend %sprite-icon-up--hover;

      &:active {
        @extend %sprite-icon-up--down;
      }
    }
  }

  &.desc {
    @extend %sprite-icon-down;

    &:hover {
      @extend %sprite-icon-down--hover;

      &:active {
        @extend %sprite-icon-down--down;
      }
    }
  }
}

.sort-dir__link.active {
  &.asc {
    @extend %sprite-icon-up--down;

    &:hover,
    &:hover:active {
      @extend %sprite-icon-up--hover;
    }
  }

  &.desc {
    @extend %sprite-icon-down--down;

    &:hover,
    &:hover:active {
      @extend %sprite-icon-down--hover;
    }
  }
}
