.feature-photo {
  position: relative;

  float: left;
  width: 66.66%;
  height: 100%;

  .big-feature--real-life & {
    float: right;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: 100%;

    transform: translate(-50%, -50%);

    &--real-life {
      top: 54%;

      transform: translate(-50%, -54%);
    }

    &--devil-bridge {
      top: 53%;

      transform: translate(-50%, -53%);
    }
  }
}
