.main-header {
  position: relative;

  height: 432px;
  margin: 0;
  padding-top: 76px;

  background: #eeeeee url("../img/index/big-header-background.jpg") center 28.4%;

  &__welcome {
    display: block;
    margin: 0 auto 52px auto;
  }

  &__sedona {
    display: block;
    margin: 0 auto 56px auto;
  }

  &__grand-canyon {
    display: block;
    margin: 0 auto;
  }

  &__bottom-pattern {
    position: absolute;
    bottom: 0;

    display: block;
    width: 100%;
    height: auto;
    margin-top: 23px;
  }
}
